.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  font-weight: 400;
  margin: 0 20px 0 0;
  opacity: 1;
  transition: opacity .3s ease-in;
}

 .header__lang-link:last-of-type {
   margin: 0;
 }

 .header__lang-link:hover {
  opacity: 0.8;
 }

 @media screen and (max-width:320px) {
  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}
