.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  font-weight: normal;
  margin: 0 20px 0 0;
  opacity: 1;
  transition: opacity 0.3s ease;
  transition: text-decoration 0.3s ease;
 }

 .header__lang-link:last-of-type {
   margin: 0;
 }

 .header__lang-link:hover {
  opacity: 0.5;
  text-decoration: underline;
 }

 .header__lang-link:active {
  opacity: 0.3;
}
