.place__title {
  grid-area: header;
  min-width: 440px;
  width: min-content;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .place__title {
    min-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    min-width: 329px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
    padding: 0 16px;
  }
}
