.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .photo-grid {
    grid-template-rows: repeat(4, 225px);
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
    max-width: 928px;}
}

@media screen and (max-width: 928px) {
  .photo-grid {
    grid-template-rows: repeat(6, 264px);
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
    max-width: 720px;}
}

@media screen and (max-width: 720px) {
  .photo-grid {
    grid-template-rows: repeat(12, 216px);
    grid-template-columns: repeat(1, 288px);
    gap: 12px;
    max-width: 720px;}
}
