
.place__paragtaph {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 27px;
  margin: 0;
  min-width: 484px;
}

.place__paragtaph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragtaph {
    min-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragtaph {
    font-size: 16px;
    line-height: 25px;
    min-width: 352px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 720px) {
  .place__paragtaph {
    font-size: 16px;
    line-height: 25px;
    min-width: 288px;
    padding: 0 16px;
  }
}
