.cover__subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 429px;
  left: 412px;
  z-index: 2;

  color: white;
  text-decoration: none;
}
