.cover__subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 360px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .cover__subtitle{
    font-size: 18px;
    line-height: 23px;
    max-width: 288px;
  }
}

@media screen and (max-width: 500px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
