.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    margin: 0 auto;
    padding-top: 56px;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title{
    font-size: 66px;
    line-height: 68px;
    max-width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title{
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
