.lead__image {
  margin: 0 auto;
  max-width: 78%;
}


@media screen and (max-width:1024px){
  .lead__image {
    max-width: 90%;
  }
}

@media screen and (max-width:768px){
  .lead__image {
    max-width: 100%;
  }
}
