.cover__background {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  min-width: 1184px;
  min-height: 740px;
}

.cover__background::before{
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  position: absolute;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: .8;
}
