.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  padding: 32px 0 64px;
}

@media screen and (max-width: 720px) {
  .lead__subtitle{
    font-size: 20px;
    line-height: 25px;
    max-width: 288px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle{
    font-size: 16px;
    line-height: 20px;
   }
}
