/*импорт вендоров*/
@import url(../vendors/normalize.css);
@import url(../vendors/fonts.css);

/*основная страница*/
@import url(../blocks/root/root.css);

/*секция HEADER*/
@import url(.././blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);




