.cover__title{
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  padding-bottom: 32px;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .cover__title{
    font-size: 66px;
    line-height: 68px;
    max-width: 500px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    padding-bottom: 16px;
  }
}
