.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(152px) min-content;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
      "header url"
      "image paragraph";
  margin-bottom: 80px;
 }

 .place:last-of-type {
   margin-bottom: 0;
 }

 @media screen and (max-width: 1024px) {
  .place {
    row-gap: 48px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 810px) {
  .place {
    row-gap: 48px;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: fit-content(320px);
    grid-template-rows: min-content min-content 320px min-content;
    row-gap: 32px;
    grid-template-areas:
      "header"
      "url"
      "image"
      "paragraph";
    margin: 0 auto 50px;
  }
}

