.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 48px 24px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

@media screen and (max-width:768px) {
  .footer{
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer{
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 16px 24px;
  }
}
